@model WebApplication1.Models.FileModel
@using System

@{
    ViewBag.Title = "MultiUpload";
}



<style type="text/css">
    .highlightRow {
        background-color: #ffeb95;
        cursor: pointer;
    }



    .dynamiccheckbox {
        border: 1px solid #ddd;
        padding: 8px;
    }



    .panelclass {
        margin-top: -158px;
    }

    .style1 {
        width: 613px;
        margin-left: 40px;
    }

    #Button {
        height: 22px;
    }

    #RmvButton {
        height: 20px;
        width: 71px;
    }

    .style4 {
        width: 613px;
    }

    #RmvButton0 {
        height: 21px;
    }

    #RmvButton0 {
        height: 21px;
        width: 57px;
    }

    #Btnaddfile {
        height: 22px;
        width: 82px;
    }
</style>

@if (ViewBag.languageculture == "eng")

{
  
    <link href="~/Content/@ViewBag.ThemeId" rel="stylesheet" />

}
else
{
    <link href="~/Content/@ViewBag.ThemeId" rel="stylesheet" />
}



@using (Html.BeginForm("UploadFiles", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.SelectedFileId) <br />

    @*@Html.HiddenFor(m=>m.isbroker)
    @Html.HiddenFor(m=>m.tokencreatedby)*@
      @Html.HiddenFor(m => m.languagesession,new { @id = "languageAlert" })


    @Html.HiddenFor(m => m.SelectedDropdownId) <br />

 
    <input type="hidden" id="texens" name="user" value="texens" />
    if (ViewBag.languageculture == "eng")
    {
        <div class="form-horizontal">
            <hr />
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <div class="form-group">
                @*@Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" ,@id="filevalidation"})*@
                <p style="font-family:Arial; font-size:14px;">
         
                </p>

                @Html.ValidationMessageFor(model => model.Description, "", new { @id="filedescription" })

             
                <div id="Header" style="padding-right: 1.7%;">
                    <table width="98.5%" cellpadding="0" cellspacing="0" style="margin-left: 16px;">
                        <tbody>
                            <tr width="100%">
                                <td valign="bottom" width="8">
                                    <div class="div11">
                                    </div>
                                </td>
                                <td valign="bottom" class="SubTitleHeader div12" height="24" width="27%" nowrap align="left">
                                    <table style="padding-bottom: 0px; padding-top: 0px; padding-left: 0px; padding-right: 0px"
                                           cellspacing="0" cellpadding="0" width="100%" type="formheader;">
                                        <tbody>
                                            <tr>
                                                <td style="line-height: 24px;              color: #000; font-weight: bold; font-size: 12px; padding-left: 11px;font-family: Arial,Verdana, Helvetica, sans-serif;">
                                              
                                                    @Resources.Global.UploadDocuments
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td valign="bottom" width="35">
                                    <div class="div13">
                                    </div>
                                </td>



                                <td class="TitleHeader" valign="bottom" width="100%">
                                    &nbsp;
                                </td>


                            </tr>
                        </tbody>
                    </table>
                </div>
                <table>
                    <tr>
                    <tr></tr>

                    <tr>
                        <td>

                            @Html.Label("Document Type ", Resources.Global.DocumentsType, new { @class = "form_field_label", style = "padding-left:50px" })

                        </td>
                        <td>

                            @*@Html.DropDownListFor(n => n.SelectedOrderId, new SelectList(Model.ddlDocumentTypesitems, "Value", "Text", Model.SelectedOrderId), new { @disabled = "disabled", style = "width:413px;   Height:28px" })*@


                          @*@Html.DropDownListFor(n => n.SelectedOrderId, new SelectList(Model.ddlDocumentTypesitems, "Value", "Text", Model.SelectedOrderId), new { @id= "ddlDocumentTypes", @disabled = Model.disabled, style = "width:413px;   Height:28px" })*@


                            @if (Model.disabled == "true")

                            {
                                @Html.DropDownListFor(m => m.docsid, Model.ddlDocumentTypesitems, new { @disabled = "", @id = "ddlDocumentTypes" ,@onchange = "this.form.submit();" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.docsid, Model.ddlDocumentTypesitems, new { @id = "ddlDocumentTypes", @onchange = "this.form.submit();" })


                            }




                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(model => model.files, Resources.Global.FileName, new { @class = "control-label col-md-2", style = "width:180px" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple", style = "width:280px", @id = "MultiFiles", accept = "application/pdf" })

                        </td>
                        <td>
                        </td>

                    </tr>

                    <tr>
                        <td colspan="3">
                           @Resources.Global.notifcation

                        </td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.Description, Resources.Global.Description, new { @class = "control-label col-md-2", style = "width:180px" })

                        <td>

                            @Html.TextAreaFor(Model => Model.Description, new { @id = "TxtDescrition", style = "width:280px;height:50px" })

                        </td>

                    </tr>

                    <tr>

                        <td>
                            <div class="col-md-offset-2 col-md-10" style="margin-left:90.66%">
                                <input type="submit" value="Upload" id="UploadBtn" class="mcbutton" />

                            </div>


                        </td>
                        <td></td>
                        <td style="margin-left:40.66%">
                            @*@Html.ActionLink("View All Uploaded", "Downloads", "Home")*@

                        </td>
                    </tr>


                </table>

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-success">
                    @*@ViewBag.UploadStatus*@


                </div>
            </div>

            <div id="tempDiv" style="display:none">
                <table width="100%" cellpadding="0" cellspacing="0">
    <tbody>
        <tr width="100%">
            <td valign="bottom" width="8">
                <div class="div11">
                </div>
            </td>
            <td valign="bottom" class="SubTitleHeader div12" height="24" width="27%" nowrap align="left">
                <table style="padding-bottom: 0px; padding-top: 0px; padding-left: 0px; padding-right: 0px"
                       cellspacing="0" cellpadding="0" width="100%" type="formheader;">
                    <tbody>
                        <tr>
                            <td style="line-height: 24px; color: #000; font-weight: bold; font-size: 12px; font-family: Arial,Verdana, Helvetica, sans-serif;">
                               @Resources.Global.SelectedDocumentsList.ToString()
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td valign="bottom" width="35">
                <div class="div13">
                </div>
            </td>
            <td class="TitleHeader" valign="bottom" width="100%">
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>
                <table id="someId" class="table"></table>
                @*<header>
                list of documnets selcted
            </header>*@
            </div>

            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr width="100%">
                        <td valign="bottom" width="8">
                            <div class="div11">
                            </div>
                        </td>
                        <td valign="bottom" class="SubTitleHeader div12" height="24" width="27%" nowrap align="left">
                            <table style="padding-bottom: 0px; padding-top: 0px; padding-left: 0px; padding-right: 0px"
                                   cellspacing="0" cellpadding="0" width="100%" type="formheader;">
                                <tbody>
                                    <tr>
                                        <td style="line-height: 24px; color: #000; font-weight: bold; font-size: 12px; font-family: Arial,Verdana, Helvetica, sans-serif;">
                                          @Resources.Global.UploadDocuments.ToString();
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td valign="bottom" width="35">
                            <div class="div13">
                            </div>
                        </td>
                        <td class="TitleHeader" valign="bottom" width="100%">
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>

       


        </div>
        <div>

        </div>
        <div id="partialUploaded">


            @Html.Partial("_UploadedFiles", Model)


        </div>
        if (Model.islocked != "yes")
        {
        <input type="submit" value="Delete" id="DeleteBtn" class="mcbutton" />
        }

        <input type="submit" value="Close" id="CloseBtn" class="mcbutton" />

        <input type="button" value="Remove" class="mcbutton" id="remove" />
        // end for englsih

    }
    else
    {
        <div class="form-horizontal">
            <hr />
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <div class="form-group">
                @*@Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })*@




                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                <div id="Header" dir="rtl" style="padding-right: 1.7%;">
                    <table width="98.5%" cellpadding="0" cellspacing="0" style="margin-left: 16px;">
                        <tbody>
                            <tr width="100%">
                                <td valign="bottom" width="8">
                                    <div class="div11">
                                    </div>
                                </td>
                                <td valign="bottom" class="SubTitleHeader div12" height="24" width="27%" nowrap align="left">
                                    <table style="padding-bottom: 0px; padding-top: 0px; padding-left: 0px; padding-right: 0px"
                                           cellspacing="0" cellpadding="0" width="100%" type="formheader;">
                                        <tbody>
                                            <tr>
                                                <td style="line-height: 24px; float:right; color: #000; font-weight: bold; font-size: 12px; padding-left: 11px;font-family: Arial,Verdana, Helvetica, sans-serif;">

                                                    @Resources.GlobalAra.UploadDocuments

                                                </td>




                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td valign="bottom" width="35">
                                    <div class="div13">
                                    </div>
                                </td>



                                <td class="TitleHeader" valign="bottom" width="100%">
                                    &nbsp;
                                </td>


                            </tr>
                        </tbody>
                    </table>
                </div>


                <table  dir="rtl" style="float:right">
                    <tr>
                    <tr></tr>

                    <tr>
                        <td>
                          

                            @Html.Label("Document Type ",Resources.GlobalAra.DocumentType.ToString(), new { @class = "form_field_label", style = "padding-left:50px;padding-right:13%" })

                        </td>
                        <td>
                            @*@Html.DropDownListFor(Model => Model.ddlDocumentTypesitems,  new SelectList(ViewBag.TableList, "Value", "Text", "selectedValue"), new { @disabled = "disabled", style = "width:413px;   Height:28px" })*@

                            @*@Html.DropDownListFor(n => n.SelectedOrderId, new SelectList(Model.ddlDocumentTypesitems, "Value", "Text", Model.SelectedOrderId), new { @disabled = "disabled", style = "width:413px;   Height:28px" })*@

                            @if(Model.disabled == "true")

                            { 
                            @Html.DropDownListFor(m => m.docsid, Model.ddlDocumentTypesitems, new { @disabled = "", @id = "ddlDocumentTypes", @onchange = "this.form.submit();" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.docsid, Model.ddlDocumentTypesitems, new {  @id = "ddlDocumentTypes", @onchange = "this.form.submit();" })


                            }




                            @*@Html.DropDownListFor(model =>model.ddlDocumentTypesitems, ViewBag.listitem, new { @disabled = "disabled",style= "width:413px;   Height:28px" })*@

                        </td>
                    </tr>

                    <tr>
                    

                    
                    
                        <td>
                            @*@Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-md-2", style = "width:180px" })*@
                            @Html.Label("Document Name ", Resources.GlobalAra.FileName.ToString(), new { @class = "form_field_label", style = "padding-left:50px;padding-right:13%" })


   
                        
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple", style = "width:280px", @id = "MultiFiles", accept = "application/pdf" })

                        </td>
                      
                    </tr>

                    <tr>
                        <td colspan="3" style="padding-right: 4%;">@Resources.GlobalAra.notifcation.ToString()


                        </td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.Description, Resources.GlobalAra.Description, new { @class = "control-label col-md-2", style = "width:180px; padding-right: 12%;" })

                        <td>

                            @Html.TextAreaFor(Model => Model.Description, new { @id = "TxtDescrition", style = "width:280px;height:50px" })

                        </td>

                    </tr>

                    <tr>

                        <td>
                            <div class="col-md-offset-2 col-md-10" >
                                <input type="submit" value=@Resources.GlobalAra.UploadBtn.ToString() id="UploadBtn" class="mcbutton" />

                            </div>


                        </td>
                        <td></td>
                        <td style="margin-left:40.66%">
                            @*@Html.ActionLink("View All Uploaded", "Downloads", "Home")*@

                        </td>
                    </tr>


                </table>

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-success">
                    @*@ViewBag.UploadStatus*@


                </div>



            </div>

            <div id="tempDiv" style="display:none">
              
                @*<header>

                Documents selcetced

            </header>*@


                <table dir="rtl" width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr width="100%">
                            <td valign="bottom" width="8">
                                <div class="div11">
                                </div>
                            </td>
                            <td valign="bottom" class="SubTitleHeader div12" height="24" width="27%" nowrap align="left">
                                <table style="padding-bottom: 0px; padding-top: 0px; padding-left: 0px; padding-right: 0px"
                                       cellspacing="0" cellpadding="0" width="100%" type="formheader;">
                                    <tbody>
                                        <tr>
                                            <td style="line-height: 24px; color: #000; font-weight: bold; font-size: 12px; font-family: Arial,Verdana, Helvetica, sans-serif;">
                                                قائمة المستندات المحددة 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td valign="bottom" width="35">
                                <div class="div13">
                                </div>
                            </td>
                            <td class="TitleHeader" valign="bottom" width="100%">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="someId" dir="rtl" class="table"></table>
            </div>

            <table dir="rtl" width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr width="100%">
                        <td valign="bottom" width="8">
                            <div class="div11">
                            </div>
                        </td>
                        <td valign="bottom" class="SubTitleHeader div12" height="24" width="27%" nowrap align="left">
                            <table style="padding-bottom: 0px; padding-top: 0px; padding-left: 0px; padding-right: 0px"
                                   cellspacing="0" cellpadding="0" width="100%" type="formheader;">
                                <tbody>
                                    <tr>
                                        <td style="line-height: 24px; color: #000; font-weight: bold; font-size: 12px; font-family: Arial,Verdana, Helvetica, sans-serif;">
                                            قائمة الوثائق المحملة
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td valign="bottom" width="35">
                            <div class="div13">
                            </div>
                        </td>
                        <td class="TitleHeader" valign="bottom" width="100%">
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>

          


        </div>
        <div>

        </div>
        <div id="partialUploaded" dir="rtl" >


            @Html.Partial("_UploadedFiles", Model)




        </div>
        <div dir="rtl">
            @if (Model.islocked != "yes") {
            <input type="submit" dir="rtl" value=@Resources.GlobalAra.Deletebtn.ToString()  id="DeleteBtn" class="mcbutton" />
            }
            <input type="submit" dir="rtl" value=@Resources.GlobalAra.Closebtn.ToString()  id="CloseBtn" class="mcbutton" />

            <input type="button" dir="rtl" value=@Resources.GlobalAra.Removebtn.ToString()  class="mcbutton" id="remove" />
        </div>


    }
}
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/PartialUp.js"></script>
    <script src="@Url.Content("~/Scripts/Upload.js")"></script>


